@import '../utils/';


.header{
 
  width: 100%;
  position: relative;
  @include flex(auto);
  height: 5rem;
  border-width: 1px;
  background-color: $header-color;
  align-items: center;
  


  .mainmenu {
  @include flex(auto);
  column-gap: 20px; 
  position: absolute;
  right: 10%;
  
 
 
    

    &-menu { 
      font-size: $header-size;
      cursor: pointer;
      transition: $alltransition_b;
      margin-right: .4em;
      &:hover {
        color: $header-font;

      }

  

  } 
  }

  .header-welcome {
    position: absolute;
    font-size: 1.5em;
    left: 3%; 
    color: $secondary-color;
   }

   .line-design {
     background-color: white;
     height: .1em;
     width: 4em;
     position: absolute;
     left: 2%; 
     top: 1rem
   }

  .hamburger {
    
    @include flex(column);  
    cursor: pointer;
    display: flex;
    margin-left: 90%;
   
    @include responsive2{

      display: none; 
   
  }
  
    
    
    
  

    
  


  
   &-line1, &-line2, &-line3{

    background-color: white;
    width: 3em;
    height: 0.2em;
    border-radius: 10px;
    margin-bottom: 1em;
    transition: $alltransition;
 
   }
   
 


   &-line1.animate {
    transform: translate(-5px, 15px) rotate(45deg) ;

  
    
   }

   &-line2.animate {
    
    opacity: 0;
    
   
   }

   &-line3.animate {
    transform: translate(-5px, -23px) rotate(-45deg) ;
    
   
   }







  }
  
}

.menubox {
  position: absolute;
  color: $bg-color;
  font-size: .9em;
  margin-top: 1em;
  width: 82%;
  height: 0em;
  left: 9%;
  background-color: $font-color;
  border-radius: .5em;
  row-gap: .2em;
  transition: $alltransition;
  overflow: hidden;
  @include flex(column,center,center);
  @include responsive2{
    display: none;
  }

  .menu-text1 {
    padding-left: 15em;
  }
  .menu-text2 {
    padding-left: 10em;
  }
  .menu-text3 {
    padding-left: 5em;
  }
  


  .menu-text1,.menu-text2,.menu-text3 {
    transition: $alltransition;

    &:hover {
      cursor: pointer;
      color: rgb(97, 69, 61);
    }

    &.menu-center {
      padding-left: 0em;
    }
  }

  &.showbar {
    height: 9em;
  }
}




