@mixin flex($flex-direction,$center-x-axis:auto,$center-y-axis:auto) {
   display: flex;
   flex-direction: $flex-direction;
   justify-content: $center-x-axis;
   align-items: $center-y-axis;
}

@mixin responsive() {
   @media (max-width: 700px){
      @content
   }
   
}

@mixin responsive2 {
   @media (min-width: 700.1px){
      @content
   }
}