$bg-color: #37231f;
$secondary-color: #fe974c;
$siliguri-font: 'Hind Siliguri', sans-serif; 
$font-color: white;
$header-size: 1rem;
$header-font: rgb(146, 109, 86);
$alltransition: all 0.4s ease-in-out;
$alltransition_b: all 0.2s ease-in-out;
$header-color: #38231e;